@page
@model Senparc.Xscf.WeixinManager.Areas.Admin.WeixinManager.MpAccount_IndexModel
@{
    ViewData["Title"] = "公众号管理";
    Layout = "_Layout_Vue";
}

@section breadcrumbs {
    <el-breadcrumb-item>扩展模块</el-breadcrumb-item>
    <el-breadcrumb-item>模块管理</el-breadcrumb-item>
    <el-breadcrumb-item>微信管理</el-breadcrumb-item>
    <el-breadcrumb-item>公众号管理</el-breadcrumb-item>
}

<div id="app" v-cloak>
    <div class="admin-role">
        <div class="filter-container">
            <el-button class="filter-item" type="primary" icon="el-icon-plus" @@click="add">增加</el-button>
            <el-button class="filter-item" type="danger" icon="el-icon-delete" @@click="del">删除</el-button>
        </div>
        <el-table :data="tableData"
                  border
                  @@selection-change="handleSelectionChange"
                  style="width: 100%">
            <el-table-column type="selection"
                             
                             align="center"
                             width="40">
            </el-table-column>
            <el-table-column align="center"
                             width="45"
                             label="#">
                <template slot-scope="scope">
                    {{ scope.row.id}}
                </template>
            </el-table-column>
            <el-table-column align="center"
                             label="名称">
                <template slot-scope="scope">
                    {{ scope.row.name}}
                </template>
            </el-table-column>
            <el-table-column align="center"
                             label="AppId">
                <template slot-scope="scope">
                    {{ scope.row.appId}}
                </template>
            </el-table-column>
            <el-table-column align="center"
                             label="AppSecret">
                <template slot-scope="scope">
                    <el-popover placement="top-start"
                                width="180"
                                trigger="hover"
                                :content="scope.row.appSecret">
                        <span slot="reference">
                            <i class="fa fa-map-marker fa-shield"></i> ****
                        </span>
                    </el-popover>
                </template>
            </el-table-column>
            <el-table-column align="center"
                             label="Token">
                <template slot-scope="scope">
                    <el-popover placement="top-start"
                                width="180"
                                trigger="hover"
                                :content="scope.row.token">
                        <span slot="reference">
                            <i class="fa fa-map-marker fa-shield"></i> ****
                        </span>
                    </el-popover>
                </template>
            </el-table-column>

            <el-table-column align="center"
                             label="EncodingAESKey">
                <template slot-scope="scope">
                    <el-popover placement="top-start"
                                width="180"
                                trigger="hover"
                                :content="scope.row.encodingAESKey">
                        <span slot="reference">
                            <i class="fa fa-map-marker fa-shield"></i> ****
                        </span>
                    </el-popover>
                </template>
            </el-table-column>
            <el-table-column align="center"
                             label="备注">
                <template slot-scope="scope">
                    {{ scope.row.adminRemark}}
                </template>
            </el-table-column>
            <el-table-column align="center"
                             label="说明">
                <template slot-scope="scope">
                    {{ scope.row.remark}}
                </template>
            </el-table-column>
            <el-table-column align="center"
                             width="145"
                             label="添加时间">
                <template slot-scope="scope">
                    {{formaTableTime(scope.row.addTime)}}
                </template>
            </el-table-column>
            <el-table-column align="center"
                             width="80"
                             label="消息URL">
                <template slot-scope="scope">
                    <a :href="'/WeixinMp/' + scope.row.id" target="_blank" :title="'[你的域名]/WeixinMp/' + scope.row.id"><i class="fa fa-external-link"></i> 打开</a>
                </template>
            </el-table-column>
            <el-table-column label="操作" align="center" width="200">
                <template slot-scope="scope">
                    <el-button size="mini"
                               type="primary"
                               @@click="edit(scope.$index, scope.row)"><i class="fa fa-edit"> 编辑</i></el-button>
                    <el-button size="mini"
                               type="primary">
                        <a style="color: white" :href="'/Admin/WeixinManager/WeixinUser?mpid=' + scope.row.id + '&uid=' + uid">
                            <i class="fa fa-users">用户管理</i>
                        </a>
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <pagination :total="searchData.total"
                    :page.sync="searchData.pageIndex"
                    :limit.sync="searchData.pageSize"
                    @@pagination="fetchData"></pagination>
    </div>
    <!--新增 / 编辑 模态框-->
    <el-dialog :title="dialog.title" :visible.sync="dialog.visible" width="40%" @@open="dialogOpend">
        <el-form :model="mpAccountForm" :rules="mpAccountRule" ref="ref_mpAccountForm" label-width="100px" class="demo-ruleForm">
            <el-form-item label="公众号名称" prop="name">
                <el-input v-model="mpAccountForm.name"></el-input>
            </el-form-item>
            <el-form-item label="AppId" prop="appId">
                <el-input v-model="mpAccountForm.appId"></el-input>
            </el-form-item>
            <el-form-item label="AppSecret" prop="appSecret">
                <el-input v-model="mpAccountForm.appSecret"></el-input>
            </el-form-item>
            <el-form-item label="Token" prop="token">
                <el-input v-model="mpAccountForm.token"></el-input>
            </el-form-item>
            <el-form-item label="EncodingAESKey" prop="encodingAESKey">
                <el-input v-model="mpAccountForm.encodingAESKey"></el-input>
            </el-form-item>
            <el-form-item label="备注" prop="adminRemark">
                <el-input v-model="mpAccountForm.adminRemark"></el-input>
            </el-form-item>
            <el-form-item label="URL">
                <template>
                    <p>微信后台配置的服务器地址(URL)</p>
                    <p v-if="dialog.data.id > 0"><a :href="'/WeixinMp/'+dialog.data.id" target="_blank"><i class="fa fa-external-link"></i> [您的域名]/WeixinMp/{{dialog.data.id}}</a></p>
                    <p>注意：新添加的账号需要重启系统后生效</p>
                </template>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @@click="dialog.visible = false">取 消</el-button>
            <el-button :loading="dialog.loading" type="primary" @@click="saveMpAccount">确 认</el-button>
        </div>
    </el-dialog>
</div>
@section scripts {
    <script src="~/js/Admin/mpaccount.js">

    </script>
}